# Python
*.pyc
__pycache__/

# Virtual environment
test_env/

# Django secrets
backend/venv/

# Node modules
node_modules/
.env

# Logs
*.log


frontend/node_modules
frontend/.pnp
frontend.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts